.chair {
    color: brown;
    border: 1px solid brown;
}
/* various screen styling using the media attribute */

/* styles for bg images */
.img{
    width: 100%;
    height: 200px;
    border: 1px dashed blue;
    background-image: url('./img/photo.jpg');
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: contain;
}
/* adding background images to a whole page */
body{
    background-image: url('./img/photo.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    backdrop-filter: blur(50px);
    /* background-image: linear-gradient(red, blue); */
}
/* floating image styles */
.float img {
    width: 300px;
    height: 300px;
    float: right;
}

/* Adding video */
.viddisc{
    float: right;
}
.vid video{
    width: 200px;
    height: 100px;
}

.aud {
    background-color: green;
    padding: 1rem;
    border: 2px groove blue;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: white;
}

/* responsive width and height */

.blog{
    min-width: fit-content;
    min-height: fit-content;
    font-size: calc(15% + 1vh);
    padding: 1rem;
}



@media(max-width: 700px) {
    body{
        background-color: black;
        color: white;
    }
    p{
        color: white !important;
    }
}

@media(max-width: 400px) {
    body {
        background-color: darkolivegreen;
        color: blue;
    }
    p {
        color: blue !important;
    }
    h1{
        color: red;
    }
}
